<form name="form-change-password" method="post">
	<div id="change_password_notification" class="change-password-notification hidden"></div>
	<div id="change_password_closing_notification" class="change-password-notification hidden"><span></span>&nbsp;<a rel="close" href="#">Close now</a></div>
	<div class="ui-grid-a text-size-16">
		<div class="ui-block-a padding-top-14 pading-left-30 <%= usernameType %>">
			<label for="username"><%= usernameLabel %></label>
		</div>
		<div class="ui-block-b pading-right-30 <%= usernameType %>">
			<input type="<%= usernameType %>" name="username" readonly="readonly" value="<%= username %>" placeholder="<%= usernameLabel %>" class="required"/>
		</div>

		<div class="ui-block-a padding-top-14 pading-left-30">
			<label for="old_password"><%= oldPasswordLabel %></label>
		</div>
		<div class="ui-block-b pading-right-30">
			<input type="password" name="old_password" value="" placeholder="<%= oldPasswordLabel %>" class="required"/>
		</div>
		<div class="ui-block-a padding-top-14 pading-left-30">
			<label for="new_password"><%= newPasswordLabel %></label>
		</div>
		<div class="ui-block-b pading-right-30">
			<input type="password" name="new_password" value="" placeholder="<%= newPasswordLabel %>" class="required"/>
		</div>
		<div class="ui-block-a padding-top-14 pading-left-30">
			<label for="new_password_again"><%= newPasswordAgainLabel %></label>
		</div>
		<div class="ui-block-b pading-right-30">
			<input type="password" name="new_password_again" value="" placeholder="<%= newPasswordAgainLabel %>" class="required"/>
		</div>
		<div class="ui-block-a alignment-right">
			<button value="ok" type="submit" data-theme="e" data-corners="false" data-inline="true"><%= btnOk %></button>
		</div>
		<div class="ui-block-b alignment-left">
			<button value="cancel" type="submit" data-corners="false" data-inline="true"><%= btnCancel %></button>
		</div>
	</div>
</form>

