<div class="login-form-wrapper">
	<div class="login-form-row">
		<div class="ui-grid-a">
			<div class="ui-block-a">
		    </div>
		    <div class="ui-block-b">
		    	<div class="ui-grid-b">
		    		<div class="ui-block-a">
		    			<label for="username"><%= usernameLabel %></label>
		    			<br/>
		       			<input type="text" name="j_username" id="login-form_username" class="required" data-theme="d" data-corners="false" data-inline="true"/>
		    		</div>
		    		<div class="ui-block-b">
		    			<label for="password"><%= passwordLabel %></label>
		    			<br/>

		       			<input type="password" name="j_password" id="login-form_password" class="required" data-theme="d" data-corners="false" data-inline="true"/>
		    		</div>
		    		<div class="ui-block-c">
		    			<button data-theme="e" id="login-form_submit"  type="submit" data-corners="false" data-inline="true"><%= btnLogin %></button>
		    		</div>
		    	</div>
		    	<div id="form-login-error" class="hidden text-dark-blue title-text" data-role="fieldcontain">Error Text here</div>
		    </div>
		</div>
	</div>
</div>