/* TABS CSS*/
.tabs-container > div {
	display: none;
	background: rgba(243, 243, 243, 1); /* f3f3f3*/
	padding: 15px;
	min-height: 70px;
}

.tabs-header {
	margin: 0;
	overflow: auto;
}

.tabs-header > div {
	font-size: 0;
	white-space: nowrap;
}

.tabs-header > div > a {
	display: inline-block;
}

.tabs-header > div > .ui-focus,
.tabs-header > div > .ui-btn:focus {
	box-shadow: none;
}

.tabs-header .ui-btn {
	margin: 0;
	padding: 0;
	border: 0;
	background: rgba(0, 0, 0, 0);
	color: #0041a5;
}

.tabs-header .ui-btn.ui-btn-active {
	background: rgba(243, 243, 243, 1); /* f3f3f3*/
}

.tabs-header .ui-btn,
.tabs-header .ui-btn.ui-btn-active,
.tabs-header .ui-btn-inner {
	text-decoration: none;
	text-shadow: none;
	font-size: 12px;
	font-weight: bold;
}

.tabs-header .ui-btn .ui-icon {
	display: none;
}

.tabs-header .ui-btn.ui-btn-hover-d .ui-icon,
.tabs-header .ui-btn.ui-btn-active .ui-icon {
	display: block;
}

/* tooltip */
span.tooltip {
	position:absolute;
	z-index: 9999;
	color: #fff;
	font-size :10px;
	width: auto;
	display: none;
	background-color: #000;
	border-radius: 8px;
	padding: 15px 10px;
}